<% content_for :header do %>
  <%= @component.name %>
<% end %>

<% content_for :header_description do %>
  <p><%= @component.description %></p>
<% end %>

<div class="component-show">
  <div class="component-doc">
    <% if @component.body %>
      <%= @component.html_body %>
    <% end %>

    <h3>How to call this component</h3>
    <%= render partial: "components/call", locals: { component: @component, fixture: @component.fixture } %>

    <h3>How this component looks</h3>
  </div>

  <%= render partial: "components/preview", locals: { component: @component, fixture: @component.fixture } %>

  <% if @component.other_fixtures.any? %>
    <div class="fixtures">
      <h2 class="fixtures-title">Other examples <small>(<a href="<%= component_preview_path(@component.id) %>">preview all</a>)</small></h2>

      <% @component.other_fixtures.each do |fixture| %>
        <div class="component-fixture">
          <h3 class="fixture-title">
            <a href="<%= component_fixture_path(@component.id, fixture.id) %>"><%= fixture.name %></a>
            <small>(<a href="<%= component_fixture_preview_path(@component.id, fixture.id) %>">preview</a>)</small>
          </h3>

          <%= render partial: "components/call", locals: { component: @component, fixture: fixture } %>

          <%= render partial: "components/preview", locals: { component: @component, fixture: fixture } %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
