<% content_for :header do %>
  <%= @component.name %>: Examples
<% end %>

<div class="component-show">
  <p class="description"><%= @component.description %></p>

  <% if @component.body %>
    <%= @component.html_body %>
  <% end %>

  <% if @component.fixtures %>
    <h2>All examples</h2>
    <ol>
    <% @component.fixtures.each do |fixture| %>
      <li class="fixture">
        <a href="<%= component_fixture_path(@component.id, fixture.id) %>"><%= fixture.name %></a>
      </li>
    <% end %>
    </ol>
  <% end %>

</div>
