<% content_for :header do %>
  <%= @component.name %>: <%= @fixture.name %>
<% end %>

<div class="component-show">
  <p class="description"><%= @component.description %></p>

  <% if @component.body %>
    <%= @component.html_body %>
  <% end %>

  <p>How to call this component</p>
  <%= render partial: "components/call", locals: { component: @component, fixture: @fixture } %>

  <p>How this component looks</p>
  <%= render partial: "components/preview", locals: { component: @component, fixture: @fixture } %>

</div>
