<% content_for :header do %>
  <%= @component["name"] %>
<% end %>

<div class="component-show">

  <p>How to call this component</p>
  <code class="block">
    &lt;%= render partial: 'govuk_component/<%= @component["id"] %>' %&gt;
  </code>

  <p>How this component looks</p>
  <div class="preview">
    <%= render partial: "govuk_component/#{@component["id"]}", locals: @component_fixture %>
  </div>

  <% if @component["fixtures"].any? %>
    <h2>Other Examples</h2>
    <ol>
    <% @component["fixtures"].each do |fixture_key, fixture_data| %>
      <li class="fixture">
        <h3>
          <a href="/component/<%= @component['id'] %>/fixture/<%= fixture_key %>">
            <%= fixture_key.humanize %>
          </a>
        </h3>
        <div class="preview">
          <%= render partial: "govuk_component/#{@component["id"]}", locals: fixture_data.with_indifferent_access %>
        </div>
        <code class="block"><pre><%= JSON.pretty_generate(fixture_data) %></pre></code>
      </li>
    <% end %>
    </ol>
  <% end %>

</div>
