<% content_for :header do %>
  <%= @component.name %>
<% end %>

<div class="component-show">

  <p>How to call this component</p>
  <%= render partial: "component/call", locals: { component: @component, fixture: @component.fixture } %>

  <p>How this component looks</p>
  <%= render partial: "component/preview", locals: { component: @component, fixture: @component.fixture } %>

  <% if @component.other_fixtures.any? %>
  <div class="fixtures">
    <h2>Other examples</h2>
    <ol>
    <% @component.other_fixtures.each do |fixture| %>
      <li class="fixture">
        <h3>
          <%= fixture.name %>
        </h3>

        <%= render partial: "component/call", locals: { component: @component, fixture: fixture } %>

        <%= render partial: "component/preview", locals: { component: @component, fixture: fixture } %>
      </li>
    <% end %>
    </ol>
  </div>
  <% end %>

</div>
