<% content_for :header do %>
  <%= @component["name"] %>
<% end %>

<div class="component-show">

  <p>How to call this component</p>
<div class="code-block"contenteditable>
  <code class="language-ruby">&lt;%= render partial: 'govuk_component/<%= @component["id"] %>' %&gt;</code>
</div>
  <p>How this component looks</p>
  <div class="preview primary">
    <%= render partial: "govuk_component/#{@component["id"]}", locals: @component_fixture %>
  </div>

  <% if @component["fixtures"].any? %>
  <div class="fixtures">
    <h2>Other Examples</h2>
    <ol>
    <% @component["fixtures"].each do |fixture_key, fixture_data| %>
      <li class="fixture">
        <h3>
          <%= fixture_key.humanize %>
        </h3>
        <div class="preview">
          <%= render partial: "govuk_component/#{@component["id"]}", locals: fixture_data.with_indifferent_access %>
        </div>
<div class="code-block" contenteditable>
  <code class="language-ruby"><%= JSON.pretty_generate(fixture_data) %></code>
</div>
      </li>
    <% end %>
    </ol>
  </div>
  <% end %>

</div>
