<% content_for :header do %>
  <%= @component.name %>
<% end %>

<div class="component-show">

  <p>How to call this component</p>
<div class="code-block"contenteditable>
  <code class="language-ruby">&lt;%= render partial: 'govuk_component/<%= @component.id %>' %&gt;</code>
</div>
  <p>How this component looks</p>
  <div class="preview primary">
    <%= render partial: "govuk_component/#{@component.id}", locals: @component.fixture.data %>
  </div>

  <% if @component.fixtures? %>
  <div class="fixtures">
    <h2>Fixtures</h2>
    <ol>
    <% @component.fixtures.each do |fixture| %>
      <li class="fixture">
        <h3>
          <%= fixture.name %>
        </h3>
        <div class="preview">
          <%= render partial: "govuk_component/#{@component.id}", locals: fixture.data %>
        </div>
<div class="code-block" contenteditable>
  <code class="language-ruby"><%= JSON.pretty_generate(fixture.data) %></code>
</div>
      </li>
    <% end %>
    </ol>
  </div>
  <% end %>

</div>
