<!DOCTYPE html>
<html>
<head>
  <title><%= yield :header %> - GOV.UK Component Guide</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'prism', media: 'all' %>
  <%= javascript_include_tag 'prism' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header-proposition">
  <div class="content">
    <nav id="proposition-menu" role="navigation">
      <a href="/" id="proposition-name">GOV.UK Publishing Component Guide</a>
    </nav>
  </div>
</div>

<div id="wrapper">

  <h1 class="govuk-component-guide-title"><%= yield :header %></h1>
  <% if content_for?(:header_description) %>
  <div class="govuk-component-guide-title-description"><%= yield :header_description %></div>
  <% end %>

  <%= yield %>

</div>

</body>
</html>
