<!DOCTYPE html>
<html>
<head>
  <title><%= yield :header %> - GOV.UK Component Guide</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'prism', media: 'all' %>
  <%= javascript_include_tag 'prism' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">

  <p class="app-name"><a href="/">GOV.UK Components Guide</a></p>

  <h1><%= yield :header %></h1>

  <%= yield %>

</div>

</body>
</html>
